
      .text-align-left{
        text-align: left;
      }
      .close-btn{
        position: static;
        left: 9px;
        right: unset;
        top: 10px;
        height: 30px;
        width: 30px;
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
      }

      
